@import url('https://fonts.googleapis.com/css?family=Asap:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
#titulo {
	background: url(../images/Imagen–principal.jpg);
	background-size: cover;
}

#titulo button {
	background-color: #E2793F;
	border-radius: 34px;
	border: 0;
	font-size: 16px;
	margin-bottom: 2.5em;
	padding: .8em;
	margin: em;
}

#cuadro {
	background: rgba(255, 255, 255, .3);
	height: 35vw;
	padding: 0vw;
}

#cuadro p {
	font-weight: 300;
	font-size: 20px;
	margin: -20px;
}

form {
	display: none;
}

header {
	background-color: #2D3D4F;
}

header img {
	max-width: 270px;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	color: #3E4A59;
}

button {
	color: #FFF;
}

#titulo h1 {
	font-size: 67px;
}

#titulo h2 {
	font-size: 46px;
	margin-top: -1em;
	font-weight: 300;
}

#beneficios img {
	width: 30%;
}

#beneficios p {
	font-weight: 300;
}

section.fondo h2 {
	font-family: 'Asap', sans-serif;
	text-align: center;
	font-size: 70px;
	text-transform: uppercase;
}

#perfiles {
	background: url(../images/imagen%20de%20morros.png);
	background-size: cover;
	height: 20em;
	display: flex;
}

#perfiles button {
	background-color: rgba(100, 100, 100, 0.5);
	font-size: 30px;
	border: 0em;
	height: 45%;
	padding: 4.9vw;
	margin: 1.5em;
}

#cuanto_pagar button {
	background-color: #E2793F;
	border-radius: 34px;
	border: 0;
	font-size: 16px;
	margin-bottom: 2.5em;
	padding: .8em;
	margin: 2em;
}

footer {
	background-color: #2D3D4F;
}

footer img {
	width: 75%;
}

#redes p {
	color: #cbcfd4;
	font-weight: 100;
}

@media only screen and(min-width:768px) {
    #cuadro box {
	height: 28vw;}

    #beneficios {
	margin: 75px;
}

    #beneficios h2 {
	font-size: 40px;
	margin-left: 0em;
}

    footer img {
	width: 49%;}
    
    #button {
        margin-top: 90px;
        
    }
    
    
    

}

@media only screen and (min-width: 64em) {
	#cuadro {
		background: rgba(255, 255, 255, 0);
        
	}
    
    #button {
        margin-top: 90px;
        
    }
    
    
}


@media only screen and (min-width:1024px){

    #titulo h1{
        font-size:70px;
        margin-right: 4em;
    }

    #titulo h2{
        font-size: 44px;
        margin-top: -1.3em;
        margin-right: 5em;
    } 
    
    #cuadro p{ 
    font-size: 25px;
    margin-right: 217px}
    
    }